/* Icon */

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

    .icon:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
    }

    .icon > .label {
        display: none;
    }

    .icon.major {
        -moz-transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        border-radius: 3px;
        border: solid 2px #fff;
        display: inline-block;
        font-size: 1.35em;
        height: calc(3em + 2px);
        line-height: 3em;
        text-align: center;
        width: calc(3em + 2px);
    }

        .icon.major:before {
            -moz-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            display: inline-block;
            font-size: 1.5em;
        }

        @media screen and (max-width: 736px) {

            .icon.major {
                font-size: 1em;
            }

        }

    .icon.style1 {
        color: #00ffcc;
    }

    .icon.style2 {
        color: #00f0ff;
    }

    .icon.style3 {
        color: #76ddff;
    }

/* Image */

.image {
    border-radius: 3px;
    border: 0;
    display: inline-block;
    position: relative;
}

    .image img {
        border-radius: 3px;
        display: block;
    }

    .image.left {
        float: left;
        margin: 0 2em 2em 0;
        top: 0.25em;
    }

    .image.right {
        float: right;
        margin: 0 0 2em 2em;
        top: 0.25em;
    }

    .image.left, .image.right {
        max-width: 40%;
    }

        .image.left img, .image.right img {
            width: 100%;
        }

    .image.fit {
        display: block;
        margin: 0 0 2em 0;
        width: 100%;
    }

        .image.fit img {
            width: 100%;
        }
.image.logo {
    width: 150px;
    max-width: 100%;
    max-height: auto;
    height: auto;
}

/* search bar */
#main-search {
    width: 700px;
    max-width: 100%;
    height: 30px;
}
    

/* List */

ol {
    list-style: decimal;
    margin: 0 0 2em 0;
    padding-left: 1.25em;
}

    ol li {
        padding-left: 0.25em;
    }

ul {
    list-style: disc;
    margin: 0 0 2em 0;
    padding-left: 1em;
}

    ul li {
        padding-left: 0.5em;
    }

    ul.alt {
        list-style: none;
        padding-left: 0;
    }

        ul.alt li {
            border-top: solid 1px #fff;
            padding: 0.5em 0;
        }

            ul.alt li:first-child {
                border-top: 0;
                padding-top: 0;
            }

    ul.icons {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.icons li {
            display: inline-block;
            padding: 0 1em 0 0;
        }

            ul.icons li:last-child {
                padding-right: 0 !important;
            }

        ul.icons.major {
            padding: 1em 0;
        }

            ul.icons.major li {
                padding-right: 3.5em;
            }

                @media screen and (max-width: 736px) {

                    ul.icons.major li {
                        padding: 0 1em !important;
                    }

                }

    ul.actions {
        cursor: default;
        list-style: none;
        padding-left: 0;
    }

        ul.actions li {
            display: inline-block;
            padding: 0 1.5em 0 0;
            vertical-align: middle;
        }

            ul.actions li:last-child {
                padding-right: 0;
            }

        ul.actions.small li {
            padding: 0 0.75em 0 0;
        }

        ul.actions.vertical li {
            display: block;
            padding: 1.5em 0 0 0;
        }

            ul.actions.vertical li:first-child {
                padding-top: 0;
            }

            ul.actions.vertical li > * {
                margin-bottom: 0;
            }

        ul.actions.vertical.small li {
            padding: 0.75em 0 0 0;
        }

            ul.actions.vertical.small li:first-child {
                padding-top: 0;
            }

        ul.actions.fit {
            display: table;
            margin-left: -1.5em;
            padding: 0;
            table-layout: fixed;
            width: calc(100% + 1.5em);
        }

            ul.actions.fit li {
                display: table-cell;
                padding: 0 0 0 1.5em;
            }

                ul.actions.fit li > * {
                    margin-bottom: 0;
                }

            ul.actions.fit.small {
                margin-left: -0.75em;
                width: calc(100% + 0.75em);
            }

                ul.actions.fit.small li {
                    padding: 0 0 0 0.75em;
                }

        @media screen and (max-width: 736px) {

            ul.actions li {
                display: block;
                padding: 1em 0 0 0;
                text-align: center;
                width: 100%;
            }

                ul.actions li:first-child {
                    padding-top: 0;
                }

                ul.actions li > * {
                    margin: 0 auto !important;
                    max-width: 30em;
                    width: 100%;
                }

                    ul.actions li > *.icon:before {
                        margin-left: -1em;
                    }

            ul.actions.small li {
                padding: 0.5em 0 0 0;
            }

                ul.actions.small li:first-child {
                    padding-top: 0;
                }

        }

dl {
    margin: 0 0 2em 0;
}

ul.recommended, ul.popular{
    height: auto;
    width: auto;
    max-height: 20%;
    max-width: 700px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0px;
    display: inline-block;
    /* border: 1px dotted white; */
}

li.rec-content, li.pop-content {
    float: left;
    margin: auto;
    padding: 1px;
    max-height: 100%;
    height: auto;
    width: 25%;
    list-style: none;
    /* border: 1px dotted blue; */
}

li.rec-content, li.pop-content, div, h6 {
    text-align: center;
    height: 35px;
}

li.rec-content, li.pop-content, div, img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    height: auto;
    position: center;
}

/* Table */

.table-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
}

table {
    margin: 0 0 2em 0;
    width: 100%;
}

    table tbody tr {
        border: solid 1px #fff;
        border-left: 0;
        border-right: 0;
    }

        table tbody tr:nth-child(2n + 1) {
            background-color: rgba(144, 144, 144, 0.25);
        }

    table td {
        padding: 0.75em 0.75em;
    }

    table th {
        color: #fff;
        font-size: 0.9em;
        font-weight: 600;
        padding: 0 0.75em 0.75em 0.75em;
        text-align: left;
    }

    table thead {
        border-bottom: solid 2px #fff;
    }

    table tfoot {
        border-top: solid 2px #fff;
    }

    table.alt {
        border-collapse: separate;
    }

        table.alt tbody tr td {
            border: solid 1px #fff;
            border-left-width: 0;
            border-top-width: 0;
        }

            table.alt tbody tr td:first-child {
                border-left-width: 1px;
            }

        table.alt tbody tr:first-child td {
            border-top-width: 1px;
        }

        table.alt thead {
            border-bottom: 0;
        }

        table.alt tfoot {
            border-top: 0;
        }

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: transparent;
    border-radius: 3px;
    border: 0;
    box-shadow: inset 0 0 0 2px #fff;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    height: 3.125em;
    letter-spacing: 0.225em;
    line-height: 3.125em;
    padding: 0 2.75em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover,
    button:hover,
    .button:hover {
        background-color: rgba(144, 144, 144, 0.25);
    }

    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active,
    button:active,
    .button:active {
        background-color: rgba(144, 144, 144, 0.5);
    }

    input[type="submit"].icon:before,
    input[type="reset"].icon:before,
    input[type="button"].icon:before,
    button.icon:before,
    .button.icon:before {
        margin-right: 0.5em;
    }

    input[type="submit"].fit,
    input[type="reset"].fit,
    input[type="button"].fit,
    button.fit,
    .button.fit {
        display: block;
        margin: 0 0 1em 0;
        width: 100%;
    }

    input[type="submit"].small,
    input[type="reset"].small,
    input[type="button"].small,
    button.small,
    .button.small {
        font-size: 0.8em;
    }

    input[type="submit"].big,
    input[type="reset"].big,
    input[type="button"].big,
    button.big,
    .button.big {
        font-size: 1.35em;
    }

    input[type="submit"].special,
    input[type="reset"].special,
    input[type="button"].special,
    button.special,
    .button.special {
        background-color: #ed4933;
        box-shadow: none !important;
        color: #ffffff !important;
    }

        input[type="submit"].special:hover,
        input[type="reset"].special:hover,
        input[type="button"].special:hover,
        button.special:hover,
        .button.special:hover {
            background-color: #ef5e4a !important;
        }

        input[type="submit"].special:active,
        input[type="reset"].special:active,
        input[type="button"].special:active,
        button.special:active,
        .button.special:active {
            background-color: #eb341c !important;
        }

    input[type="submit"].disabled, input[type="submit"]:disabled,
    input[type="reset"].disabled,
    input[type="reset"]:disabled,
    input[type="button"].disabled,
    input[type="button"]:disabled,
    button.disabled,
    button:disabled,
    .button.disabled,
    .button:disabled {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        opacity: 0.25;
    }

    @media screen and (max-width: 736px) {

        input[type="submit"],
        input[type="reset"],
        input[type="button"],
        button,
        .button {
            height: 3.75em;
            line-height: 3.75em;
        }

    }

    /* Page Wrapper + Menu */

	#page-wrapper {
		-moz-transition: opacity 0.5s ease;
		-webkit-transition: opacity 0.5s ease;
		-ms-transition: opacity 0.5s ease;
		transition: opacity 0.5s ease;
		opacity: 1;
		padding-top: 3em;
	}

		#page-wrapper:before {
			background: transparent;
			content: '';
			display: block;
			display: none;
			height: 100%;
			left: 0;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 10001;
		}

	#menu {
		-moz-transform: translateX(20em);
		-webkit-transform: translateX(20em);
		-ms-transform: translateX(20em);
		transform: translateX(20em);
		-moz-transition: -moz-transform 0.5s ease;
		-webkit-transition: -webkit-transform 0.5s ease;
		-ms-transition: -ms-transform 0.5s ease;
		transition: transform 0.5s ease;
		-webkit-overflow-scrolling: touch;
		background: #21b2a6;
		color: #ffffff;
		height: 100%;
		max-width: 80%;
		overflow-y: auto;
		padding: 3em 2em;
		position: fixed;
		right: 0;
		top: 0;
		width: 20em;
		z-index: 10002;
	}

		#menu ul {
			list-style: none;
			padding: 0;
		}

			#menu ul > li {
				border-top: solid 1px rgba(0, 0, 0, 0.125);
				margin: 0.5em 0 0 0;
				padding: 0.5em 0 0 0;
			}

				#menu ul > li:first-child {
					border-top: 0 !important;
					margin-top: 0 !important;
					padding-top: 0 !important;
				}

				#menu ul > li > a {
					border: 0;
					color: inherit;
					display: block;
					font-size: 0.8em;
					letter-spacing: 0.225em;
					outline: 0;
					text-decoration: none;
					text-transform: uppercase;
				}

					@media screen and (max-width: 736px) {

						#menu ul > li > a {
							line-height: 3em;
						}

					}

		#menu .close {
			background-image: url("images/close.svg");
			background-position: 4.85em 1em;
			background-repeat: no-repeat;
			border: 0;
			cursor: pointer;
			display: block;
			height: 3em;
			position: absolute;
			right: 0;
			top: 0;
			vertical-align: middle;
			width: 7em;
		}

		@media screen and (max-width: 736px) {

			#menu {
				padding: 3em 1.5em;
			}

		}

	body.is-menu-visible #page-wrapper {
		opacity: 0.35;
	}

		body.is-menu-visible #page-wrapper:before {
			display: block;
		}

	body.is-menu-visible #menu {
		-moz-transform: translateX(0);
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0);
    }
    
