/* Header */

#header {
    -moz-transition: background-color 0.2s ease;
    -webkit-transition: background-color 0.2s ease;
    -ms-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
    background: #2e3842;
    height: 3em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

    #header h1 {
        -moz-transition: opacity 0.2s ease;
        -webkit-transition: opacity 0.2s ease;
        -ms-transition: opacity 0.2s ease;
        transition: opacity 0.2s ease;
        height: inherit;
        left: 1.25em;
        line-height: inherit;
        position: absolute;
        top: 0;
    }

        #header h1 a {
            border: 0;
            display: block;
            height: inherit;
            line-height: inherit;
        }

            @media screen and (max-width: 736px) {

                #header h1 a {
                    font-size: 0.8em;
                }

            }

    #header nav {
        height: inherit;
        line-height: inherit;
        position: absolute;
        right: 0;
        top: 0;
    }

        #header nav > ul {
            list-style: none;
            margin: 0;
            padding: 0;
            white-space: nowrap;
        }

            #header nav > ul > li {
                display: inline-block;
                padding: 0;
            }

                #header nav > ul > li > a {
                    border: 0;
                    color: #fff;
                    display: block;
                    font-size: 0.8em;
                    letter-spacing: 0.225em;
                    padding: 0 1.5em;
                    text-transform: uppercase;
                }

                    #header nav > ul > li > a.menuToggle {
                        outline: 0;
                        position: relative;
                    }

                        #header nav > ul > li > a.menuToggle:after {
                            background-image: url("images/bars.svg");
                            background-position: right center;
                            background-repeat: no-repeat;
                            content: '';
                            display: inline-block;
                            height: 3.75em;
                            vertical-align: top;
                            width: 2em;
                        }

                        @media screen and (max-width: 736px) {

                            #header nav > ul > li > a.menuToggle {
                                padding: 0 1.5em;
                            }

                                #header nav > ul > li > a.menuToggle span {
                                    display: none;
                                }

                        }

                    @media screen and (max-width: 736px) {

                        #header nav > ul > li > a {
                            padding: 0 0 0 1.5em;
                        }

                    }

                #header nav > ul > li:first-child {
                    margin-left: 0;
                }

    #header.alt {
        background: transparent;
    }

        #header.alt h1 {
            -moz-pointer-events: none;
            -webkit-pointer-events: none;
            -ms-pointer-events: none;
            pointer-events: none;
            opacity: 0;
        }

/* Banner */

#banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;
}

    #banner h2 {
        -moz-transform: scale(1);
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        display: inline-block;
        font-size: 1.75em;
        opacity: 1;
        padding: 0.35em 1em;
        position: relative;
        z-index: 1;
    }

        #banner h2:before, #banner h2:after {
            -moz-transition: width 0.85s ease;
            -webkit-transition: width 0.85s ease;
            -ms-transition: width 0.85s ease;
            transition: width 0.85s ease;
            -moz-transition-delay: 0.25s;
            -webkit-transition-delay: 0.25s;
            -ms-transition-delay: 0.25s;
            transition-delay: 0.25s;
            background: #fff;
            content: '';
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
        }

        #banner h2:before {
            top: 0;
            left: 0;
        }

        #banner h2:after {
            bottom: 0;
            right: 0;
        }

    #banner p {
        letter-spacing: 0.225em;
        text-transform: uppercase;
    }

        #banner p a {
            color: inherit;
        }

    #banner .more {
        -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
        -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
        -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
        transition: transform 0.75s ease, opacity 0.75s ease;
        -moz-transition-delay: 3.5s;
        -webkit-transition-delay: 3.5s;
        -ms-transition-delay: 3.5s;
        transition-delay: 3.5s;
        -moz-transform: translateY(0);
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        border: none;
        bottom: 0;
        color: inherit;
        font-size: 0.8em;
        height: 8.5em;
        left: 50%;
        letter-spacing: 0.225em;
        margin-left: -8.5em;
        opacity: 1;
        outline: 0;
        padding-left: 0.225em;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 16em;
        z-index: 1;
    }

        #banner .more:after {
            background-image: url("images/arrow.svg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            bottom: 4em;
            content: '';
            display: block;
            height: 1.5em;
            left: 50%;
            margin: 0 0 0 -0.75em;
            position: absolute;
            width: 1.5em;
        }

    #banner:after {
        -moz-pointer-events: none;
        -webkit-pointer-events: none;
        -ms-pointer-events: none;
        pointer-events: none;
        -moz-transition: opacity 3s ease-in-out;
        -webkit-transition: opacity 3s ease-in-out;
        -ms-transition: opacity 3s ease-in-out;
        transition: opacity 3s ease-in-out;
        -moz-transition-delay: 1.25s;
        -webkit-transition-delay: 1.25s;
        -ms-transition-delay: 1.25s;
        transition-delay: 1.25s;
        content: '';
        background: #2e3842;
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
    }

    @media screen and (max-width: 736px) {

        #banner {
            padding: 7em 3em 5em 3em ;
            height: auto;
            min-height: 0;
        }

            #banner h2 {
                font-size: 1.25em;
            }

            #banner br {
                display: none;
            }

            #banner .more {
                display: none;
            }

    }

body.is-loading #banner h2 {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    opacity: 0;
}

    body.is-loading #banner h2:before, body.is-loading #banner h2:after {
        width: 0;
    }

body.is-loading #banner .more {
    -moz-transform: translateY(8.5em);
    -webkit-transform: translateY(8.5em);
    -ms-transform: translateY(8.5em);
    transform: translateY(8.5em);
    opacity: 0;
}

body.is-loading #banner:after {
    opacity: 1;
}

/* One */

#one {
display: -moz-flex;
display: -webkit-flex;
display: -ms-flex;
display: flex;
-moz-flex-direction: column;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-moz-justify-content: center;
-webkit-justify-content: center;
-ms-justify-content: center;
justify-content: center;
cursor: default;
height: 100vh;
min-height: 35em;
overflow: hidden;
position: relative;
text-align: center;
}
#one h2 {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
    -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
    -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
    transition: transform 0.5s ease, opacity 0.5s ease;
    display: inline-block;
    font-size: 1.75em;
    opacity: 1;
    padding: 0.35em 1em;
    position: relative;
    z-index: 1;
}

    #one h2:before, #one h2:after {
        -moz-transition: width 0.85s ease;
        -webkit-transition: width 0.85s ease;
        -ms-transition: width 0.85s ease;
        transition: width 0.85s ease;
        -moz-transition-delay: 0.25s;
        -webkit-transition-delay: 0.25s;
        -ms-transition-delay: 0.25s;
        transition-delay: 0.25s;
        background: #fff;
        content: '';
        display: block;
        height: 2px;
        position: absolute;
        width: 100%;
    }

    #one h2:before {
        top: 0;
        left: 0;
    }

    #one h2:after {
        bottom: 0;
        right: 0;
    }

#one p {
    letter-spacing: 0.225em;
    text-transform: uppercase;
}

    #one p a {
        color: inherit;
    }

#one .more {
    -moz-transition: -moz-transform 0.75s ease, opacity 0.75s ease;
    -webkit-transition: -webkit-transform 0.75s ease, opacity 0.75s ease;
    -ms-transition: -ms-transform 0.75s ease, opacity 0.75s ease;
    transition: transform 0.75s ease, opacity 0.75s ease;
    -moz-transition-delay: 3.5s;
    -webkit-transition-delay: 3.5s;
    -ms-transition-delay: 3.5s;
    transition-delay: 3.5s;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    border: none;
    top: 1em;
    color: inherit;
    font-size: 0.8em;
    height: 8.5em;
    left: 50%;
    letter-spacing: 0.225em;
    margin-left: -8.5em;
    opacity: 1;
    outline: 0;
    padding-left: 0.225em;
    position: absolute;
    text-align: left;
    
    width: 16em;
    z-index: 1;
}

    #one .more:after {
        /* background-image: url("images/arrow.svg"); */
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        bottom: 4em;
        content: '';
        display: block;
        height: 1.5em;
        /* left: 50%; */
        margin: 0 0 0 -0.75em;
        position: absolute;
        width: 1.5em;
    }

#one:after {
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
    -moz-transition: opacity 3s ease-in-out;
    -webkit-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    transition: opacity 3s ease-in-out;
    -moz-transition-delay: 1.25s;
    -webkit-transition-delay: 1.25s;
    -ms-transition-delay: 1.25s;
    transition-delay: 1.25s;
    content: '';
    background: #2e3842;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

@media screen and (max-width: 736px) {

    #one {
        padding: 7em 3em 5em 3em ;
        height: auto;
        min-height: 0;
    }

        #one h2 {
            font-size: 1.25em;
        }

        #one br {
            display: none;
        }

        #one .more {
            display: none;
        }

}

body.is-loading #one h2 {
-moz-transform: scale(0.95);
-webkit-transform: scale(0.95);
-ms-transform: scale(0.95);
transform: scale(0.95);
opacity: 0;
}

body.is-loading #one h2:before, body.is-loading #one h2:after {
    width: 0;
}

body.is-loading #one .more {
-moz-transform: translateY(8.5em);
-webkit-transform: translateY(8.5em);
-ms-transform: translateY(8.5em);
transform: translateY(8.5em);
opacity: 0;
}

body.is-loading #one:after {
opacity: 1;
}

/* Search View */

.search-results {
    display: inline-block;
    position: absolute;
    margin: auto;
    padding: 1px;
    left: 0%;
    top: 5%;
    float: left;
    list-style: none;
}

/* Details View */

#media-details {
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 5%;
}

#poster {
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    width: 25%;
    height: auto;
    border: 1px solid black;
}

#title {
    margin-top: 2%;
    font-size: 3em;
}

/* Related View */

#related-content {
    display: inline-block;
    position: absolute;
    left: 0%;
    top: 5%;
}

#video {
    float: right;
}

#search-thumb {
    margin-top: 2%;
    margin-left: 2%;
    width: 15%;
    height: auto;
    border: 1px solid black; 
}

/* Main */

#main > header {
    padding: 12em 0 10em 0 ;
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

    #main > header h2 {
        font-size: 1.75em;
        margin: 0 0 0.5em 0;
    }

    #main > header p {
        color: inherit;
        letter-spacing: 0.225em;
        text-transform: uppercase;
        top: 0;
    }

        #main > header p a {
            color: inherit;
        }

    @media screen and (max-width: 1680px) {

        #main > header {
            padding: 10em 0 8em 0 ;
        }

    }

    @media screen and (max-width: 1280px) {

        #main > header {
            padding: 8em 3em 6em 3em ;
        }

    }

    @media screen and (max-width: 980px) {

        #main > header {
            padding: 10em 3em 8em 3em ;
        }

    }

    @media screen and (max-width: 736px) {

        #main > header {
            padding: 5em 3em 3em 3em ;
        }

            #main > header h2 {
                font-size: 1.25em;
                margin: 0 0 1em 0;
            }

    }

body.is-mobile #main > header {
    background-attachment: scroll;
}

/* Footer */

#footer {
    padding: 6em 0 4em 0 ;
    background-color: #1d242a;
    text-align: center;
}

    #footer .icons {
        font-size: 1.25em;
    }

        #footer .icons a {
            color: rgba(255, 255, 255, 0.5);
        }

            #footer .icons a:hover {
                color: #fff;
            }

    #footer .copyright {
        color: rgba(255, 255, 255, 0.5);
        font-size: 0.8em;
        letter-spacing: 0.225em;
        list-style: none;
        padding: 0;
        text-transform: uppercase;
    }

        #footer .copyright li {
            border-left: solid 1px rgba(255, 255, 255, 0.5);
            display: inline-block;
            line-height: 1em;
            margin-left: 1em;
            padding-left: 1em;
        }

            #footer .copyright li:first-child {
                border-left: 0;
                margin-left: 0;
                padding-left: 0;
            }

            #footer .copyright li a {
                color: inherit;
            }

                #footer .copyright li a:hover {
                    color: #fff;
                }

            @media screen and (max-width: 480px) {

                #footer .copyright li {
                    border: 0;
                    display: block;
                    line-height: 1.65em;
                    margin: 0;
                    padding: 0.5em 0;
                }

            }

    @media screen and (max-width: 980px) {

        #footer {
            padding: 4em 3em 2em 3em ;
        }

    }

    @media screen and (max-width: 736px) {

        #footer {
            padding: 3em 2em 1em 2em ;
        }

    }

/* Landing */

body.landing #page-wrapper {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 0;
}

body.landing #footer {
    background-color: rgba(29, 36, 42, 0.9);
}

body.is-mobile.landing #page-wrapper {
    background: none;
}

body.is-mobile.landing #banner,
body.is-mobile.landing .wrapper.style4 {
    background-image: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: -ms-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-image: linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../../images/banner.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body.is-mobile.landing #footer {
    background-color: #1d242a;
}

/* About us background */

body, .movie_title { background-color: #000; }
/* Adjustment to letterbox format screen ratio */
.movie_title_frame:after { padding-top: 48.05%; }
.movie_title {
  min-width: 280px;
  min-height: 136px;
  max-width: 1200px;
  max-height: 584px;
}
.movie_title img.mynameisinigomontoya {
  top: 0;
  left: 0;
  width: 100%;
}